$white: #FFF;
$light-gray: #e6ebf0;
$gray: #a8a9af;
$primary: #06F9AE;
$active: $primary;
$black: #1a1919;

#antenna-inline-translator {
  @import "tabs";


  .translator-wrapper {
    display: flex;
    position: fixed;
    z-index: 1000000;
    top: 0;
    right: 0;
    overflow-x: hidden;
  }

  .animate{
    right: -300px;
    position: fixed;
  }

  .show-hide-btn {
    width: 50px;
    height: 50px;
    z-index: 1;
    padding: 10px;
    background-color: $primary;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .translator-ui {
    width: 100%;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #00000036;
  }

  .translator-ui .trans-ui-row {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > div {
      flex: 1;
    }

    .translations-list {
      width: 100%;
      height: 60%;
      padding-bottom: 0.5rem;
      overflow-y: scroll;
      border-bottom: 4px solid $light-gray;
      position: relative;

      table {
        border-collapse: collapse;
      }

      th {
        line-height: 2rem;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: $light-gray;
      }

      th, td {
        padding: 0.125rem 0.25rem;

        &:first-child {
          padding-left: 1rem;
        }

        &:last-child {
          padding-right: 1rem;
        }
      }
    }
  }

  .trans-ui-translation {
    padding: 1rem;
    border-right: 1px solid $light-gray;
  }

  .select-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 1rem 0;
    border: none;
    border-right: 1px solid $light-gray;
  }

  .select-list--key {
    cursor: pointer;

    svg {
      width: 12px;
      height: 12px;
      color: $active;
    }

    &.active,
    &:hover {
      background-color: $active;
      color: $black;

      svg {
        color: $black;
      }
    }
  }
}

.trans-ui-element {
  font-style: inherit !important;
  position: relative;

  &--active {
    background-color: $active;
    color: $black;

    i {
      display: block !important;
      margin-left: -20px !important;
    }
  }

  &:hover i {
    display: block;
    margin-left: -20px;
  }

  i {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 100%;
    background: $active;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8dGV4dCBpZD0iXyIgZGF0YS1uYW1lPSLvjIMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiIGZpbGw9IiMyMTI1MjkiIGZvbnQtc2l6ZT0iMTMiIGZvbnQtZmFtaWx5PSJGb250QXdlc29tZTVQcm8tU29saWQsICdGb250IEF3ZXNvbWUgNSBQcm8nIj48dHNwYW4geD0iMCIgeT0iMTEiPu+MgzwvdHNwYW4+PC90ZXh0Pgo8L3N2Zz4K");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
}
.slide-fade-enter, .slide-fade-leave-to {
  transition: all .3s ease;
  transform: translateX(300px);
}

button.round {
  border-radius: 16px;
  border: 1px $primary solid !important;
}

button.round:hover {
  background-color: $white !important;
}

button.round:focus {
  outline: none;
}

.success-message {
  color: $primary;
  font-weight: bold;
}
