$white: #FFF;
$light-gray: #e6ebf0;
$gray: #a8a9af;
$primary: #06F9AE;
$active: $primary;
$black: #1a1919;

#antenna-inline-translator {
  @import "tabs";


  .translator-wrapper {
    display: flex;
    position: fixed;
    z-index: 1000000;
    top: 0;
    right: 0;
    overflow-x: hidden;
  }

  .animate{
    right: -300px;
    position: fixed;
  }

  .show-hide-btn {
    width: 50px;
    height: 50px;
    z-index: 1;
    padding: 10px;
    background-color: $primary;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .translator-ui {
    width: 100%;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #00000036;
  }

  .translator-ui .trans-ui-row {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > div {
      flex: 1;
    }

    .translations-list {
      width: 100%;
      height: 60%;
      padding-bottom: 0.5rem;
      overflow-y: scroll;
      border-bottom: 4px solid $light-gray;
      position: relative;

      table {
        border-collapse: collapse;
      }

      th {
        line-height: 2rem;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: $light-gray;
      }

      th, td {
        padding: 0.125rem 0.25rem;

        &:first-child {
          padding-left: 1rem;
          word-break: break-word;
        }

        &:last-child {
          padding-right: 1rem;
        }
      }
    }
  }

  .trans-ui-translation {
    padding: 1rem;
    border-right: 1px solid $light-gray;
  }

  .select-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 1rem 0;
    border: none;
    border-right: 1px solid $light-gray;
  }

  .select-list--key {
    cursor: pointer;

    svg {
      width: 12px;
      height: 12px;
      color: $active;
    }

    &.active,
    &:hover {
      background-color: $active;
      color: $black;

      svg {
        color: $black;
      }
    }
  }
}

.trans-ui-element {
  font-style: inherit !important;
  position: relative;

  &--active {
    background-color: $active;
    color: $black;

    i {
      display: block !important;
      margin-left: -20px !important;
    }
  }

  &:hover i {
    display: block;
    margin-left: -22px;
  }

  i {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 22px;
    padding: 2px 4px;
    height: 100%;
    background: $primary url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='currentColor' d='M498 142l-46 46c-5 5-13 5-17 0L324 77c-5-5-5-12 0-17l46-46c19-19 49-19 68 0l60 60c19 19 19 49 0 68zm-214-42L22 362 0 484c-3 16 12 30 28 28l122-22 262-262c5-5 5-13 0-17L301 100c-4-5-12-5-17 0zM124 340c-5-6-5-14 0-20l154-154c6-5 14-5 20 0s5 14 0 20L144 340c-6 5-14 5-20 0zm-36 84h48v36l-64 12-32-31 12-65h36v48z'/></svg>") no-repeat;
    background-size: contain;
    background-position-y: center;
    background-origin: content-box;
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
}
.slide-fade-enter, .slide-fade-leave-to {
  transition: all .3s ease;
  transform: translateX(300px);
}

button.round {
  border-radius: 16px;
  border: 1px $primary solid !important;
}

button.round:hover {
  background-color: $white !important;
}

button.round:focus {
  outline: none;
}

.success-message {
  color: $primary;
  font-weight: bold;
}
