@import '_variables';

html, body{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body > div, table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;

  th {
    background-color: $light-gray;
    padding: 0.75rem;
    position: relative;
    padding-bottom: 2rem;

    .empty-show {
      font-weight: normal !important;
      color: transparentize($black, 0.5);
      font-size: 0.8rem;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  td + td {
    word-break: break-all;
  }

  td {
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid $light-gray;
    position: relative;
  }

  .edit-popup {
    position: absolute;
    top: 0;
    min-width: 300px;
    width: 80%;
    border: 1px solid $light-gray;
    background-color: $white;
    box-shadow: 0px 0px 20px 0px #00000036;
    z-index: 20;

    textarea {
      width: calc(100% - 2rem);
      padding: 1rem;
      border: 0;
      border-bottom: 1px solid $light-gray;
      min-height: 100px;
    }

    a {
      cursor: pointer;
      margin: 1rem;
      display: inline-block;
      border-radius: 16px;
      border: 1px $primary solid;
      background-color: $active;
      padding: 0.25rem 1rem;
      font-weight: bold;
      color: $black;

      &:hover {
        background-color: $white;
      }
    }
  }
}

.search-input {
  width: calc(100% - 2rem);
  padding: 1rem;
  border-radius: 0;
  border: 0;
  outline: 0;
  border-top: 2px solid $white;
  font-size: 1.5rem;

  &:focus {
    outline: 0;
    border-top: 2px solid $primary;
  }
}
.header {
  position: relative;
}

.refresh-button {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  height: 1rem;
  cursor: pointer;

  &:hover {
    color: $primary;
  }

  svg {
    height: 1rem;
    width: 1rem;
  }
}

.pagination {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;

  .page-item {
    display: inline-block;

    .page-link {
      display: block;
      color: $black;
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      font-weight: bold;
    }

    &.active {
      background-color: $primary;
    }
  }
}

.edit-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.translation-slot {
  padding-right: 30px;

  a {
    color: $gray;
  }
}

.no-translation-slot {
  color: $danger;
}

.loading-spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);

  svg {
    width: 100%;
    height: 100%;
  }
}
