.translation-ui-tabs-wrapper {
  margin: 2rem 0.5rem;
}

.translation-ui-tabs-nav {
  & > li {
    display: inline-block;

    & > a {
      padding: 0.5rem;
      text-decoration: none;
      font-weight: bold;
      display: block;

      &.active {
        position: relative;

        &::after {
          content: ' ';
          display:block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;

          border: 1px solid $gray;
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}

.translation-ui-tab-content {
  .tab-pane {
    margin-top: -1px;
    display: none;
    border: 1px solid $gray;
    padding: 0.5rem;

    textarea {
      width: 100%;
    }
  }

  .tab-pane.active {
    display: block;
  }
}
